<div class="header">
	Change
</div>
<div class="content">
	Please select the desired coins and banknotes:
	<div class="units">
		{{#each unit in units}}
			<div class="unit">
				<img src="{{unit.url}}" alt="{{unit.denomination}}" {{action 'addUnit' unit}}>
				{{#if unit.crossedout}}
					<span class="crossedout">X</span>
				{{/if}}
			</div>
		{{/each}}
	</div>
	{{#if sum}}
		<div class="summary">
			{{#each unit in units}}
				{{#if unit.count}}
					{{unit.count}}⨉ {{money unit.denomination}} <button class="btn remove-btn btn-danger" {{action 'removeUnit' unit}}><span class="glyphicon glyphicon-minus"></span></button>
				{{/if}}
			{{/each}} = {{money sum}}
		</div>
	{{/if}}
</div>
<div class="actions">
	<button type="button" class="ui button primary massive" disabled="{{disabled}}" {{action 'accept'}}>Accept</button>
	<button type="button" class="ui button massive">Cancel</button>
</div>
