<div class="modal-dialog modal-lg change-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">Change</h4>
		</div>
		<div class="modal-body">
			Please select the desired coins and banknotes:
			<div class="units">
				{{#each unit in units}}
					<div class="unit">
						<img src="{{unit.url}}" alt="{{unit.denomination}}" {{action 'addUnit' unit}}>
						{{#if unit.crossedout}}
							<span class="crossedout">X</span>
						{{/if}}
					</div>
				{{/each}}
			</div>
			{{#if sum}}
				<div class="summary">
					{{#each unit in units}}
						{{#if unit.count}}
							{{unit.count}}⨉ {{money unit.denomination}} <button class="btn remove-btn btn-danger" {{action 'removeUnit' unit}}><span class="glyphicon glyphicon-minus"></span></button>
						{{/if}}
					{{/each}} = {{money sum}}
				</div>
			{{/if}}
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-success btn-lg" data-dismiss="modal" disabled="{{disabled}}" {{action 'accept'}}>Accept</button>
			<button type="button" class="btn btn-cancel btn-lg" data-dismiss="modal">Cancel</button>
		</div>
	</div>
</div>
