{{#liquid-if model.username class="user"}}
	<button class="ui inverted button logout" {{action "logout"}}><span class="glyphicon glyphicon-log-out"></span></button> {{model.username}}
{{/liquid-if}}
<div class="credits"><span class="title">Credits</span><br>{{#liquid-with model.credits as credits class="creditsValue"}}{{money credits}}{{/liquid-with}}
</div>
{{#if model.credits}}
	<div class="spacer"></div>
	<div class="donate ui inverted button sidebar-btn" {{action "donate"}}>Donate</div>
	<div class="change ui inverted button sidebar-btn">Change</div>
	<div class="return ui inverted red button sidebar-btn" {{action "return"}}>Return</div>
{{else}}
	{{insert-coin}}
{{/if}}
{{!-- {{change-dialog userinfo=model store=store id="changedialog"}} --}}
