<div class="column1">
	<div class="title">Projects
		<div class="ui button inverted" {{action 'next'}}><i class="chevron right icon"></i></div>
		<div class="ui button inverted" {{action 'prev'}}><i class="chevron left icon"></i></div>
		<div class="ui button inverted" {{action 'showProjects'}}><i class="list ul icon"></i></div>
	</div>
	<div id="carousel-projects" class="project" {{action 'showActiveProject'}}>
		{{#with currentProject as project}}
			<div class="item">
				<img class="teaserimage" src={{project.imageURL}} alt={{project.name}}>
				<div class="project-name">{{project.name}}</div>
				<div class="project-teaser">{{project.teaser}}</div>
			</div>
		{{/with}}
	</div>
	<a class="project-link" {{action 'showActiveProject'}}></a>
</div>
<div class="separator"></div>
<div class="column2">
	<div class="title">Metafridge
		<div class="ui button inverted" {{action 'showDrinks'}}><i class="list ul icon"></i></div>
	</div>
	<div class="items">
		<a class="btn premium item" {{action 'buyPremium'}}><span class="price">{{money 300}}</span></a>
		<a class="btn mate item" {{action 'buyMate'}}><span class="price">{{money 200}}</span></a>
		<a class="btn pop item" {{action 'buyPop'}}><span class="price">{{money 150}}</span></a>
		<a class="btn water item" {{action 'buyWater'}}><span class="price">{{money 100}}</span></a>
		<a class="btn coffee item" {{action 'buyCoffee'}}><span class="price">{{money 50}}</span></a>
	</div>
	<div class="title">Pay All The Jobs</div>
	<div class="items">
		<a class="btn lazzzor item" {{action 'handleLazzzor'}}></a>
		<a class="btn cuttr item" {{action 'handleCuttr'}}></a>
		<a class="btn printer3d item" {{action 'handlePrinter3D'}}></a>
		<a class="btn printer2d item" {{action 'handlePrinter2D'}}></a>
	</div>
</div>
