<div class="projectspage">
	<div class="title">Projects
		{{#link-to 'index' class="ui icon button inverted small" }}<i class="remove icon"></i>{{/link-to}}
	</div>
	<div class="ui massive list celled selection">
		{{#each project in model}}
			<div class="item project" {{action 'showProject' project}}>
				<img class="ui avatar image" src="{{project.imageURL}}" alt="{{project.name}}">
				<div class="content">
					<div class="header">{{project.name}}</div>
					<div class="description">{{project.teaser}}</div>
				</div>
			</div>
		{{/each}}
	</div>
</div>
