<div class="projectspage">
	<div class="title">Projects
		{{#link-to 'index' class="ui icon button inverted small" }}<i class="remove icon"></i>{{/link-to}}
	</div>
	<div class="listwrapper">
		<table class="list">
			<colgroup>
				<col class="image">
				<col class="name">
				<col class="teaser">
			</colgroup>
			<tbody>
				{{#each project in model}}
					<tr class="project" {{action 'showProject' project}}>
						<td class="image"><img src="{{project.imageURL}}" alt="{{project.name}}"></td>
						<td class="name">{{project.name}}</td>
						<td class="teaser">{{project.teaser}}</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>
